body {
  // background: black;
  color: #222;
  font-size: 85%;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

}

.loading-data {
  position: fixed;
  font-size: 0.9em;
  text-align: center;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #ffc;
  right: 20px;
  top: 0;
  padding: 5px;
  z-index: 2000;
}

.wrapper {
  background: black;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .content {
    flex-grow: 2;
  }
}

.content {
  @extend .full-expanded;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px 20px 20px 90px;
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255,0.8);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
    transition: opacity 0.3s, transform 0s 0.3s;
  }
}

.container {
  &.black {
    .content {
      background-color: black;
      color: white;
    }
    .menu-button {
      color: white;
    }
  }

}

/* Menu */
.menu-wrap {
  position: absolute;
  font-weight: 700;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  top: 0;
  bottom: 0;
  background-color: #222;
  h3 {
    padding: 0.2em 1.2em;
    font-size: 2em;
    color: white;
  }
  a {
    color: #888;
    &:hover {
      color: white;
      text-decoration: none;
    }
    &.active {
      background-color: white;
      color: #222;
      &:hover {
        color: black;
      }
    }
  }
}

.sidebar-profile {
  padding: 1.2em 2.5em;
  color: white;
  bottom: 0;
  right: 0;
  left: 0;
  top: auto;
  a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    font-size: 0.8em;
    display: block;
  }
}

#button-full-screen {
  position: absolute;
  left: 10px;
  top: 8px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px 4px;
  color: white;
}
